.titleContianer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.titleContianer h1 {
  color: #4a4141;
}

.titleContianer p {
  margin-top: -10px;
  color: #6cabd9;
}
.cardContainer {
  margin: 0px 140px;
  display: flex;
  justify-content: space-around;
}

.planCard {
  width: 28rem;
  margin: 0px 15px;
  animation: fadeIn 3s ease-in;
}

.planTitle {
  font-size: 22px;
  color: #6cabd9;
  background: #212121;
  width: 160px;
  padding: 8px 10px;
  border-radius: 0px 35px 0px 15px;
}

.feature {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
}

.priceBadge {
  color: #f3f3f3;
}

@keyframes fadeIn {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .cardContainer {
    margin: 0px 140px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .planCard {
    width: 28rem;
    margin: 15px 15px;
    animation: fadeIn 3s ease-in;
  }
}

@media (max-width: 431px) {
  .cardContainer {
    margin: 0px 40px;
  }
  .planCard {
    width: 20rem;
  }

  .planTitle {
    font-size: 16px;
    width: 100px;
    border-radius: 0px 25px 0px 15px;
  }

  .feature {
    font-size: 12px;
  }

  .priceBadge {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 376px) {
  .cardContainer {
    margin: 0px 20px;
    align-items: center;
  }
  .planCard {
    width: 16rem;
  }

  .planTitle {
    font-size: 16px;
    width: 100px;
    border-radius: 0px 25px 0px 15px;
  }

  .feature {
    font-size: 12px;
  }

  .priceBadge {
    font-size: 12px;
    padding: 8px;
  }
}
