.headerContainer {
  background-color: #6cabd9;
  padding: 20px;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
  gap: 20px; /* Reduce the gap for smaller screens */
  text-align: center; /* Center the content */
}

.headerContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.correctIcon {
  background-color: rgb(27, 169, 27);
  padding: 20px;
  border-radius: 100px;
}

.breedDetails {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tabContent {
  background-color: #eeeeee;
  padding: 20px;
  margin-top: -15px;
}

.tableNoBorder {
  border: none;
  background-color: #eeeeee;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.tableNoBorder th {
  color: #6cabd9;
}

.tableNoBorder th,
.tableNoBorder td {
  border: none !important;
  background-color: #eeeeee;
}

.ratings {
  background-color: #ffff;
  padding: 10px 15px;
  border-radius: 100px;
}

.setButton {
  background-color: #fefefe;
  font-size: 16px;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  .setButton {
    font-size: 14px;
    margin-left: 10px;
  }
}
