.userAccountDetails {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #f9f9f9; */
  }
  
  .userAccountDetails h4 {
    color: #4A4141;
    text-align: left;
  }
  
  .userAccountDetails h3 {
    color: #4A4141;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  
  .userAccountDetails hr {
    border-width: 2px;
    border-color: #4A4141;
  }
  
  .userAccountDetails.userInfoItem {        /*user-info-item*/
    text-align: center;
    
  }
  
  .userInfoItem {                 /*user-info-item*/
    font-size: medium;
    
  }
  
  .userImage img {
    border-radius: 50%;
    max-width: auto;
    height: 120px;
    float: left;
    margin-left: 70px;
    margin-top: -10px;
  }

  .userInfofullName {
    font-size: xxx-large;
    font-weight: bold;
    color: #6CABD9;
    text-align: center;
    position: relative; margin-left: 300px;
    margin-top: 50px;
  }
  
  .userInfoEmail {
    color: #4A4141;
    font-size: x-large;
    font-weight: bold;
    /* text-align: right; */
    margin-bottom: 50px;
    margin-top: -10px;
    /* text-align: center; */
    position: relative; margin-left: 300px;
  }

  .editImage {
    display: flex;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
  }

  .editImage button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

  .editImage img {
    width: auto;
    height: 35px;
  }
  
  .userInfoDate {
    color: #4A4141;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    position: relative; margin-left: 60px;
  }
  
  .dateText {
    color: #6CABD9;
    font-size: larger;
    margin-bottom: -5px;
  }
  
  .userInfoPlan {
    color: #4A4141;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    position: relative; margin-left: 490px;
  }
  
  .planText {
    color: #6CABD9;
    font-size: larger;
    margin-bottom: -5px;
  }
  
  .userInfoContact {
    color: #4A4141;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    position: relative; margin-left: 60px; 
  }
  
  .contactText {
    color: #6CABD9;
    font-size: larger;
    margin-bottom: -5px;
  }
  
  .userInfoPaymentInfo {
    color: #4A4141;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    position: relative; margin-left: 470px;
  }
  
  .paymentText {
    color: #6CABD9;
    font-size: larger;
    margin-bottom: -5px;
  }
  
  .userInfo {
    margin-top: 20px; 
  }
  
  .detailBar {
    margin-top: 30px;
    display: flex; flex-direction: row;
  }

  .visa img {
    height: 70px;
    float: right;
    margin-right: 55px;
    margin-top: 7px;
  }
  
  .mastercard img {
    height: 40px;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
  }

  /* .user-info-item {
    margin-bottom: 10px;
  } */
  
  .userInfoItem strong {
    margin-right: 5px;
  }
