.body {
  font-family: "Inter", sans-serif;
<<<<<<< HEAD
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #212121;
}

.link:hover {
  color: #6cabd9;
  /* text-decoration: underline; */
}

.activeLink {
  color: #6cabd9;
  text-decoration: underline;
=======
>>>>>>> 31380f2b522a9cb3e97d9e2dfd5c54404dc9972e
}

.userIcon {
  background-color: rgb(134, 136, 138);
  border-radius: 20px;
  padding: 10px;
  margin-top: -5px;
  color: white;
  margin-left: 50px;
}

.signOutButton {
  font-size: 18px;
  border-radius: 20px;
  padding: 10px;
  margin-top: -5px;
<<<<<<< HEAD
  color: #86888a;
=======
  color: rgb(134, 136, 138);
>>>>>>> 31380f2b522a9cb3e97d9e2dfd5c54404dc9972e
}
.signOutButton:hover {
  color: rgb(71, 71, 71);
}
