.body {
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #212529;
}

.hamburger {
  color: #212529;
  border: 2px solid #86888a;
}

.link:hover {
  color: #6cabd9;
  /* text-decoration: underline; */
}

.activeLink {
  color: #6cabd9;
  text-decoration: underline;
}

.userIcon {
  background-color: rgb(134, 136, 138);
  border-radius: 20px;
  padding: 10px;
  margin-top: -5px;
  color: white;
  margin-left: 50px;
}

.signOutButton {
  font-size: 18px;
  border-radius: 20px;
  padding: 10px;
  margin-top: -5px;
  color: #86888a;
}
.signOutButton:hover {
  color: rgb(71, 71, 71);
}
