.petContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  height: fit-content;
}

.petCard {
  width: 70%;
  height: fit-content;
  background-color: #eeeeee;
  border: none;
  padding: 0px 10px;
  box-shadow: rgba(163, 165, 169, 0.25) 0px 1px 4px,
    rgba(88, 93, 102, 0.13) 0px 0px 1px 1px;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailsContainer img {
  height: 64px;
  width: 64px;
  border-radius: 100px;
}

.detailsContainer h2 {
  font-size: 20px;
  color: #4a4141;
  margin-left: 30px;
}

.innerContainer {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
.innerContainer:hover {
  cursor: pointer;
}

.innerContainer h2:hover {
  text-decoration: underline;
}

.innerContainer Button {
  margin: 0px 10px;
}

.innerContainer Button:nth-child(1) {
  border-color: #5e96be;
  color: #5e96be;
}

.innerContainer Button:nth-child(1):hover {
  background-color: #5e96be;
  color: #eeeeee;
}

@media (max-width: 769px) {
  /* .detailsContainer {
    flex-direction: column;
  }

  .innerContainer {
    flex-direction: column;
  } */
}

@media (max-width: 431px) {
  .detailsContainer {
    align-items: center;
    flex-direction: column;
  }

  .innerContainer:nth-child(1) {
    align-items: center;
    flex-direction: column;
    margin: 10px 0px;
  }

  .innerContainer h2 {
    margin-top: 10px;
    margin-right: 25px;
  }
  .petCard {
    margin: 8px 0px;
  }
}
