body {
    background-color: #f4f4f4a2;
  }

.recordsHeader {
    display: flex;
    justify-content: space-between;
    margin: 30px 175px;
  }
  
.recordsHeader h1 {
    font-size: 26px;
    color: #6cabd9;
    font-weight: 700;
  }
  
.recordCard {
    margin: 30px 180px;
    width: 72%;
    height: 130px;
    background-color: #eeeeee;
    padding: 0px 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
.recordBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
.dogName {
    color: #6cabd9;
    font-size: 16px;
    font-weight: 600;
  }
.main-reminder{
  display: block;
}

.reminder{
  font-size: 24px;
}
  

.recordInfoContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
.dateAndTime {
    color: #4a4141;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }
.btnContainer {
    display: flex;
    align-items: baseline;
  }
.btnContainer Button {
    margin: 0px 12px;
  }
.btnContainer Button:nth-child(1) {
    width: 70px;
  }

  .deleteButton{
    
  }

  